.main {
  @apply relative p-4 bg-white rounded-2xl place-self-stretch shadow-card;
}

.header {
  @apply flex items-center justify-between pb-4;
}

.name,
.tools {
  @apply flex items-center space-x-4;
}

.name > h4 {
  @apply text-xl font-medium text-primary-3;
}

.name > span {
  @apply px-3 py-1 text-base font-medium rounded-md text-primary;
}

.search {
  @apply flex items-center p-2 px-4 space-x-4 border border-transparent rounded-md border-zinc-300;
}

.search > input {
  @apply w-44;
}

.search > input:focus {
  @apply outline-none;
}

.pagination {
  @apply flex items-center justify-between px-4 text-sm;
}

.paginationControl,
.paginationInfo {
  @apply flex items-center space-x-1;
}

.paginationInfo > span {
  @apply text-xs font-medium;
}

.paginationNavs {
  @apply flex items-center border border-border rounded-lg;
}

.container {
  @apply h-[calc(100%_-_5.7rem)];
}

.container.loading > div {
  @apply overflow-hidden;
}

.container > div {
  height: 100% !important;
}

.container > div > div {
  height: 100%;
}

@media screen and (max-width: 640px) {
  .header {
    @apply flex-col;
    align-items: normal;
  }

  .tools {
    @apply flex-col items-start pt-2 space-x-0 space-y-4;
  }

  .action {
    @apply w-full;
  }

  .name > h4 {
    @apply text-base;
  }

  .search {
    @apply w-full;
  }

  .paginationControl {
    @apply space-x-4;
  }

  .paginationInfo > span {
    @apply hidden;
  }
}
