.container {
  @apply grid w-full grid-cols-4 col-span-2 gap-6;
}

@media screen and (max-width: 768px) {
  .container {
    @apply grid-cols-2 gap-4;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    @apply grid-cols-2 gap-4;
  }
}
