.container {
  @apply flex w-full overflow-hidden;
}

.content {
  @apply relative flex-1 px-0;
}

.orderCard {
  margin-right: 480px;
}

.withSidebar {
  @apply flex;
}

.mainContent {
  @apply transition-all duration-500 mt-24 ml-20;
}

.mainContent.open {
  @apply ml-64;
}
