.container {
  @apply fixed z-50 flex flex-col items-center h-screen py-8 bg-white gap-8;
  min-width: 108px;
}

.nav {
  @apply flex flex-col w-full pl-4;
}

.menu {
  @apply w-full rounded-l-xl pl-3 py-3;
}

.menu > button {
  @apply flex justify-center items-center rounded-xl;
  width: 56px;
  height: 56px;
}

.menu > button > svg {
  @apply text-orange;
}

.menu.active {
  @apply bg-neutral-4;
}

.menu > button:hover,
.menu.active > button {
  @apply bg-orange;
}

.menu > button:hover > svg,
.menu.active > button > svg {
  color: white;
}

.curved {
  @apply flex justify-end w-full;
}

.topCurved {
  @apply w-5 h-5;
}

.topCurved > div {
  @apply bg-white w-5 h-5 rounded-br-full;
}

.bottomCurved {
  @apply w-5 h-5;
}

.bottomCurved > div {
  @apply bg-white w-5 h-5 rounded-tr-full;
}

.topCurved.active,
.bottomCurved.active {
  @apply bg-neutral-4;
}
