.container {
  @apply fixed z-50 flex flex-col h-screen py-6 text-primary-3 transition-all duration-500 bg-white border-r;
}

.container.open {
  @apply lg:w-64;
}

.brand {
  @apply flex items-center justify-between px-6 mb-4 pb-5 text-2xl border-b;
}

.app {
  @apply flex items-center space-x-2;
}

.app > div {
  @apply text-left;
}

.app > div h4 {
  @apply mb-2 text-lg font-semibold;
}

.app > div p {
  @apply text-sm font-medium;
}

.container.close {
  @apply w-20;
}

.container.close .nav__item > button > :not(svg),
.container.close .nav__item > a > :not(svg),
.container.close .nav__item > p,
.container.close .brand > .app > div,
.container.close .nav__item > .notification > span {
  @apply hidden;
}

.container.close .brand {
  @apply pr-0 pl-4 pb-6;
}

.container.close .nav__item > button {
  @apply pr-0 pl-3;
}

.nav {
  @apply flex-1 pb-2 px-4 overflow-auto transition-all ease-linear;
}

.nav > * + * {
  @apply mt-2;
}

.nav__item {
  @apply relative;
}

.nav__item > button > p,
.nav__item > a > p {
  @apply text-left;
}

.nav__item > button {
  @apply relative flex items-center w-full px-6 py-4 text-base font-medium transition-all text-primary-3 rounded-lg;
}

.nav__item > button > * + * {
  @apply ml-4;
}

.nav__item > a > * + * {
  @apply ml-4;
}

.nav__item > button > svg {
  @apply text-orange;
}

.nav__item.active > button > svg,
.nav__item > button:hover > svg {
  @apply text-white;
}

.nav__item.active > button,
.nav__item > button:hover,
.nav__item.active > a,
.nav__item > a:hover {
  @apply py-4 opacity-100 bg-orange text-white rounded-lg;
}

.nav__item > button:disabled {
  @apply pointer-events-none text-primary;
}

.notification {
  @apply absolute grid w-6 h-6 text-white transform -translate-y-1/2 bg-red-500 rounded-full right-6 top-1/2 bottom-1/2 place-items-center;
}

.notification > span {
  @apply text-xs;
}

.container.close .nav__item > .notification {
  @apply w-2 h-2 right-9 top-6;
}

.dropdown {
  @apply overflow-hidden bg-primary;
}

.dropdown__sub {
  @apply overflow-hidden bg-primary;
}

.dropdown button,
.dropdown__sub button {
  @apply !bg-transparent text-primary font-medium opacity-75;
}

.dropdown button {
  @apply ml-2;
}

.dropdown__sub button {
  @apply ml-4;
}

.dropdown button:hover {
  @apply text-white opacity-100;
}

.dropdown button::before,
.dropdown__sub button::before {
  content: '';
  @apply w-2 h-2 mr-2 -mt-1 rounded-full bg-primary;
}

.nav__item.active__dropdown > button,
.nav__item.active__dropdown > a {
  @apply text-white opacity-100;
}

.nav__item.active__dropdown > button::before,
.nav__item.active__dropdown > a::before {
  @apply bg-white opacity-100;
}

@media screen and (max-width: 768px) {
  .container.close {
    @apply hidden;
  }

  .container.open {
    @apply w-56;
  }

  .container.open .nav__item > button > p,
  .container.open .nav__item > a > p {
    @apply text-sm;
  }
}
